.cards {
  display: flex;
  &:not(.isVisible) {
    .card {
      background-image: repeating-linear-gradient(45deg, transparent 1%, #334624 2%), repeating-linear-gradient(135deg, #3f87a6 1%, #c6ebaa 2%);
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
    }
  }
  .card {
    width: clamp(3rem, 10vw, 6rem);
    aspect-ratio: 1 / 1.4;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 2px;
    img {
      width: 100%;
      cursor: pointer;
    }
    &.disabled {
      opacity: 0.8;
      cursor: default;
    }
  }
}
