.start-screen-wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
  h1 {
    font-size: 3rem;
    color: rgb(205, 195, 50);
    text-align: center;
  }
  button {
    height: 3rem;
    border-radius: 0.75rem;
    border: unset;
    margin: 0.5rem 0;
    cursor: pointer;
    &:hover,
    &:active {
      box-shadow: inset 0px 0px 5px 0px #000000;
    }
  }
}
