.modal-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  .modal {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    .buttons {
      display: flex;
      justify-content: space-around;
    }
  }
}
