.game {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  height: 100%;
  padding: 1rem;
  place-content: center;
  &.players-2 {
    grid-template-areas:
      '. player-1 .'
      '. pile . '
      '. me me';
  }
  &.players-3,
  &.players-4 {
    grid-template-areas:
      '. player-2 .'
      'player-1 pile player-3'
      'me me me';
  }
  & > div {
    display: grid;
  }
}

.player-1 {
  grid-area: player-1;
}
.player-2 {
  grid-area: player-2;
}
.player-3 {
  grid-area: player-3;
}
.me {
  grid-area: me;
}
.pile {
  grid-area: pile;
}
