.pile-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. card-2 .'
    'card-1 . card-3'
    '. card-0 .';
  &.cards-2 {
    grid-template-areas:
      '. card-1 .'
      '. . .'
      '. card-0 .';
  }
  .card {
    width: clamp(2rem, 10vw, 5rem);
    img {
      width: 100%;
    }
  }
}

.card-0 {
  grid-area: card-0;
}
.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
